---
layout: archive
---

{{ content }}

## Proj 207 - Group Project
### Course Materials
- [OOSD Threaded Project Modified for Manpower Software Program - The Travel Experts System]({% link /assets/files/Project-overview-Manpower-Software-read-this-first.pdf %})
- [Project Workshop Background Information]({% link /assets/files/Project-background-Manpower-Software.pdf %})
- [Project Brief - Frontend]({% link /assets/files/proj207-frontend.pdf %})
- [Project Brief - Node]({% link /assets/files/proj207-node.pdf %})
- [Marking Rubric]({% link /assets/files/Proj207-rubric.xlsx %})
- [MongoDB DB]({% link /assets/files/TravelExpertsMongo.zip %})
- [MySQL DB]({% link /assets/files/travelexperts-mysql1.zip %})

### Group Charter
Assign the key roles and responsibilities for each group member in delivering the project for Assignments 1 and 2. After each entry write a short summary defining their role and what their responsibilities are in the project. This charter will serve as the reference for any group mediation that is required.

#### Potential Roles
- research
- copy writing
- frontend dev (be specific)
- backend dev (be specific)
- graphics
- devops
- etc

## CPRG 210 Course Schedule

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts reversed %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
